<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h1>🎓 Student Management System</h1>

<h2>{{ role|capitalize }} Dashboard</h2>

{% if role == "admin" %}

<h3>Admin Panel</h3>

<form action="/students" method="post">

    <label>Name</label><br>
    <input type="text" name="name"><br><br>

    <label>Course</label><br>
    <input type="text" name="course"><br><br>

    <button type="submit">Add Student</button>

</form>

<br>
<hr>

{% elif role == "student" %}

<h3>Student Permissions</h3>

<button>Edit My Profile</button>

{% else %}

<h3>User Permissions</h3>

<p>You have Read-Only Access.</p>

{% endif %}

<hr>

<h2>Student List</h2>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Course</th>
    <th>Actions</th>
</tr>

{% for student in students %}

<tr>

<td>{{ student.id }}</td>

<td>{{ student.name }}</td>

<td>{{ student.course }}</td>

<td>
    <a href="/edit/{{ student.id }}">Edit</a>

|

<a href="/delete/{{ student.id }}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

</body>
</html>