<!DOCTYPE html>
<html>

<head>
    <title>Student Management System</title>
</head>

<body>

    <h1>🎓 Student Management System</h1>

    <h2>Select Your Role</h2>

    <form action="/dashboard" method="get">

        <select name="role">

            <option value="admin">Admin</option>

            <option value="student">Student</option>

            <option value="user">User</option>

        </select>

        <br><br>

        <button type="submit">
            Continue
        </button>

    </form>

</body>

</html>